<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/ice/3.7.4/Ice.js' defer></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/ender-js")*@
    @Scripts.Render("~/bundles/signalr")
    @Scripts.RenderFormat("<script src='{0}'></script>", "signalr/hubs")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/Components/iceProxy")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/Content/react")
</head>
<body>
    <div class="container body-content" id="app">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
